//HexColor group: Cyberpunk ==============================
$cp-red-20: #f26849;
$cp-red-50: #c5003c;
$cp-red-80: #880425;
$cp-red-90: #5e2122;

$cp-neutral-0: #00060e;

$cp-blue-50: #7dbaf2;
$cp-blue-90: #001b2d;