//HexColor group: Cyberpunk ==============================
$cp-red-20: #f26849;
$cp-red-30: #f81643; //errorMessageRed
$cp-red-50: #c5003c;
$cp-red-70: #880425;
$cp-red-80: #5e2122;
$cp-red-90: #330e15;

$cp-neutral-0: #00060e;

$cp-cyan-50: #7bdfd5;
$cp-blue-50: #7dbaf2;
$cp-blue-90: #001b2d;