//HexColor group: CharGen/ICC ==============================
$icc-dark-10: #262e3e; //'bg'
$icc-dark-20: #2c3445; //'bgAlt'
$icc-dark-30: #323846; //'medi'
$icc-dark-40: #3b414e; //'lite'
$icc-dark-50: #424959; //inputBG

$icc-blue-30: #4975e3; //'bluActive'
$icc-blue-40: #507ef2; //'bluHover'
$icc-blue-50: #386ae8; //'blue'

$icc-green-50: #31e184;

$icc-red-50: tomato;
$icc-neutral-50: #838795; //'muted'
$icc-neutral-70: #ccd1dd; //'text/white'

$icc-cyan-30: #19d8cd; //'active'
$icc-cyan-50: #38e8de; //'cyan'
$icc-cyan-70: #67dfd8; //'hover'