//HexColor group: SixthHistories

//aspects/powers
$cs-edge: #d7dd49;
$cs-forge: #ff8e3e;
$cs-grail: #fe6150;
$cs-heart: #f97a89;
$cs-secret-histories: #fe43f0;
$cs-knock: #b54efc;
$cs-lantern: #ffe300;
$cs-moon: #ccbcd6; //Also Numa
$cs-moth: #f2e9c2;
$cs-nectar: #20a360;
$cs-rose: #f163ff;
$cs-scale: #cb9f4e;
$cs-sky: #2c68e1;
$cs-winter: #beeeff;
//ui
$cs-beige-10: #322a1d;
$cs-beige-30: #a38850;
$cs-beige-50: #dbd6bd;
$cs-beige-80: #fcfaed;

