@use "../abstracts/" as *;

.grid-main {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 64px auto 166px;
    min-height: 100vh;
    gap: $grid-gap;
    width: 100%;
    padding: 0 8px;
}
