@font-face {
    font-family: 'Titillium';
    src: url(./src/assets/fonts/Titillium.otf);
}
@font-face {
    font-family: 'Titillium-Bold';
    src: url(./src/assets/fonts/Titillium-Bold.otf);
}
@font-face {
    font-family: 'Titillium-Light';
    src: url(./src/assets/fonts/Titillium-Light.otf);
}
@font-face {
    font-family: 'Titillium-Thin';
    src: url(./src/assets/fonts/Titillium-Thin.otf);
}
@font-face {
    font-family: 'ProFontWindows';
    src: url(./src/assets/fonts/ProFontWindows.ttf);
}