// Default spinner animation
@keyframes spinDefault {
    from { transform: rotate(0deg) }
    to { transform: rotate(359deg) }
}

// Alternative (Tick-Tick-TickTickTick) spin animation for i.e. the logo
@keyframes spinLoader {
    0%,100% { transform: rotate(0deg) }
    50%{ transform: rotate(359deg) }
    75% { transform: rotate(180deg) }
}

@keyframes blinkText {
    0%      { opacity: 1.0; }
    25%     { opacity: 1.0; }
    50%     { opacity: 0.7; }
    60%     { opacity: 0.3; }
    70%     { opacity: 0.7; }
    100%    { opacity: 1.0; }
}