@use "sass:map";
@use "../abstracts/" as *;

h1,
.h1 {
	font-size: map-get($font-size, xl2);
}

h2,
.h2 {
	font-size: map-get($font-size, xl);
}

h3,
.h3 {
	font-size: map-get($font-size, lg);
}

h4,
.h4 {
	font-size: map-get($font-size, md);
}

h5,
.h5,
h6,
.h6 {
	font-size: map-get($font-size, base);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: var(--theme-body-text-title);
	font-family: inherit;
	font-weight: 500;
	margin: 0 0 0.8rem 0;
	line-height: 1.1;

	&.alt {
		color: var(--theme-body-text-title-alt);
	}
}

p {
	font-size: map-get($font-size, base);
	margin: 0 0 0.8rem 0;

	&.alt {
		color: var(--theme-body-text-alt);
	}
}