//HexColor group: Base  ==============================
$neutral-0: #000000;
$neutral-10: #222222; //old: 'grayBg'
$neutral-20: #3A3A3A; //old: 'grayBlockMedium'
$neutral-30: #474747;
$neutral-40: #5E5E5E;
$neutral-50: #767676;
$neutral-60: #9F9F9F;
$neutral-70: #C8C8C8;
$neutral-80: #E3E3E3;
$neutral-90: #F1F1F1;
$neutral-100: #FFFFFF;
//-
$orange-90: #f2A83B;
$orange-100 : #FF9933;
//-
$green-30: #94c02f; //'olive'
$green-60: #5CB85C;
$green-80: #4FE38B; //'orbitGreen'
//-
$red-50: #4B1002;
$red-60: #550A0A;
$red-70: #660000;
$red-80: #BC0000;
$red-90: #DB3939;
$red-100: #ED3737; //'statusCritical'
//-
$yellow-50: #9A9F17;
$yellow-90: #FFCC00; //'gubat'
$yellow-100: #FFD300; //'cdpr'
//-
$purple-10: #240120; //old: psyBackground
$purple-20: #330033; //old: psyBlock
$purple-30: #470047; //old: PsyMedium
$purple-40: #660066; //old:psy blocklight
$purple-50: #880088;
$purple-80: #BB00BB;
$purple-90: #F400F4;
//-
$blue-10: #012324;
$blue-20: #022529;
$blue-30: #03282F;
$blue-40: #042A34;
$blue-60: #053A47;
$blue-70: #0B5E66;
$blue-90: #005B8E; //'aquilaBlue'
//-
$cyan-50: #55ead4;
$cyan-80: #39DBCC; //'beacon holo default'
$cyan-90: #2BEDE6;
$cyan-100: #B3FFFC;

//HexColor group: Cyberpunk ==============================
$cp-red-20: #f26849;
$cp-red-50: #c5003c;
$cp-red-80: #880425;
$cp-red-90: #5e2122;

$cp-neutral-0: #00060e;

$cp-blue-50: #7dbaf2;
$cp-blue-90: #001b2d;

//HexColor group: CharGen/ICC ==============================
$icc-dark-10: #262e3e; //'bg'
$icc-dark-20: #2c3445; //'bgAlt'
$icc-dark-30: #323846; //'medi'
$icc-dark-40: #3b414e; //'lite'
$icc-dark-50: #424959; //inputBG

$icc-blue-30: #4975e3; //'bluActive'
$icc-blue-40: #507ef2; //'bluHover'
$icc-blue-50: #386ae8; //'blue'

$icc-green-50: #31e184;

$icc-red-50: tomato;
$icc-neutral-50: #838795; //'muted'
$icc-neutral-70: #ccd1dd; //'text/white'

$icc-cyan-30: #19d8cd; //'active'
$icc-cyan-50: #38e8de; //'cyan'
$icc-cyan-70: #67dfd8; //'hover'
