$neutral-0: #000000;
$neutral-10: #222222;
$neutral-20: #3A3A3A;
$neutral-30: #474747;
$neutral-40: #5E5E5E;
$neutral-50: #767676;
$neutral-60: #9F9F9F;
$neutral-70: #C8C8C8;
$neutral-80: #E3E3E3;
$neutral-90: #F1F1F1;
$neutral-100: #FFFFFF;
//-
$orange-90: #f2A83B;
$orange-100 : #FF9933;
//-
$green-60: #5CB85C;
$green-80: #4FE38B;
//-
$red-50: #4B1002;
$red-60: #550A0A;
$red-70: #660000;
$red-80: #BC0000;
$red-90: #DB3939;
$red-100: #ED3737;
//-
$yellow-50: #9A9F17;
$yellow-100: #FFD300;
//-
$purple-10: #240120;
$purple-20: #330033;
$purple-30: #470047;
$purple-40: #660066;
$purple-50: #880088;
$purple-80: #BB00BB;
$purple-90: #F400F4;
//-
$blue-10: #012324;
$blue-20: #022529;
$blue-30: #03282F;
$blue-40: #042A34;
$blue-60: #053A47;
$blue-70: #0B5E66;
$blue-90: #005B8E;
//-
$cyan-50: #55ead4;
$cyan-80: #39DBCC;
$cyan-90: #2BEDE6;
$cyan-100: #B3FFFC;

//-
$cp-neutral-0: #111;
$cp-red-20: #f26849;
$cp-red-50: #c5003c;
$cp-red-80: #880425;
$cp-red-90: #5e2122;

$cp-cyan-50: #55ead4;
$cp-blue-50: #7dbaf2;
$cp-blue-90: #001b2d;