@use "sass:map";

$breakpoints: (
    lg: 1440px,
    md: 1240px,
    sm: 904px,
    min: 320px
);

@mixin media-breakpoint-up($-bp: sm) {
    @media screen and (min-width: map-get($breakpoints, $-bp)) {
        @content;
    }
}

$body-min-width: map-get($breakpoints, min);